html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #eeeeee;
  font-family: Roboto, Arial, Helvetica, sans-serif, black;
  margin: 0 auto; }

.nav-container {
  background: white;
  margin: 0 auto; }

.nav {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 32px; }

.nav-logo-img {
  zoom: 0.72; }

.nav-link,
.nav-link:link,
.nav-link:visited {
  font-size: 14px;
  padding: 30px 35px;
  text-align: center;
  text-decoration: none;
  color: #856cb8;
  font-weight: bold;
  box-sizing: border-box; }

.nav-link:hover {
  color: #4a6194;
  border-bottom: 2px solid #4a6194;
  transition: color 0.6s; }
