$backgroundColor: rgb(245, 245, 245);
$navBackgroundColor: white;
$defaultFontFamily: "Open Sans", Arial, Helvetica, sans-serif, black;
$linkColor: rgb(133, 108, 184);
$filterBoxColor: rgba(170, 217, 248, 0.075);
