$backgroundColor: rgb(238, 238, 238);
$navBackgroundColor: white;
$defaultFontFamily: Roboto, Arial, Helvetica, sans-serif, black;
$linkColor: rgb(133, 108, 184);
$filterBoxColor: rgba(170, 217, 248, 0.075);
