.content-container {
  background-color: $backgroundColor;
  max-width: 1250px;
  background-color: rgba(138, 199, 255, 0.034);
  margin: 0 auto;
}

.content {
  margin: 0 auto;
  max-width: 1100px;
  font-weight: normal;
}

.content__title {
  font-size: 24px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  padding: 10px 0 15px 0;
}

.content-box {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content-box__element {
  margin: 15px 0 40px 0;
}

.content-image {
  width: 204px;
  height: 204px;
  position: relative;
  margin: 0 auto;
}

.content-image:hover .img__hover-block {
  opacity: 1;
  .hover-play-img {
    opacity: 0.4;
  }

  .hover-play-img:hover {
    opacity: 1;
  }
}

.hover-play-img {
  opacity: 0;
  transition: all 0.2s linear;
}

.img {
  width: 204px;
  height: 204px;
  position: relative;
  margin: 0 auto;
}

.img__hover-block {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 204px;
  width: 204px;
  opacity: 0;
  transition: all 0.2s linear;
}

.content-link,
.content-link:link,
.content-link:visited {
  font-size: 14px;
  text-decoration: none;
  color: rgb(20, 20, 20);
  font-weight: normal;
  box-sizing: border-box;
}

.content-link:hover {
  color: rgb(56, 109, 224);
  transition: color 0.6s;
}
