.footer-container {
  background: rgb(35, 30, 41);
  color: white;
  margin: 0 auto;
  padding: 48px 32px;
  height: 232px;
  // display: none;
}

.footer {
  width: 100%;
  margin: 0 auto;
  max-width: 1100px;
}

.main-elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-logo-img {
  width: 139px;
  height: 24px;
  margin: 81px 0 0 0;
}

.links-info-block {
  display: flex;
  flex-wrap: wrap;
}

.footer__links {
  display: flex;
  flex-direction: column;
  // margin: 0 0 0 362px;
}

.footer-info {
  margin: 0 0 0 60px;
  box-sizing: border-box;
}

.footer-info__contact {
  margin: 0 0 90px;
}

.community-links {
  padding: 10px 0;
}

.community-link {
  margin: 10px 5px 10px;
}

.footer-text {
  margin: 0 0 10px;
}

.footer-link {
  font-size: 16px;
  padding: 0 0 10px;
  margin: 0 0 16px;
  text-decoration: none;
  color: white;
  box-sizing: border-box;
}

.footer-link:hover {
  text-decoration: underline;
}

.mailto {
  font-size: 16px;
  text-decoration: none;
  color: white;
  font-weight: normal;
  box-sizing: border-box;
}

.mailto:hover {
  text-decoration: underline;
}

.secondary-elements {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 30px 0 0 0;
}

.info-links {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.info-link {
  font-size: 16px;
  padding: 0 0 10px;
  margin: 0 10px 16px;
  text-decoration: none;
  color: white;
  box-sizing: border-box;
}

.info-link:hover {
  text-decoration: underline;
}

@media (max-width: 1050px) {
  .footer-container {
    height: auto;
    text-align: center;
    padding: 0;
  }

  .info-link {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .links-info-block {
    align-items: center;
    flex-direction: column;
  }

  .main-elements {
    justify-content: center;
  }

  .footer-info {
    box-sizing: border-box;
    margin: 0;

    &__contact {
      margin: 10px 0;
    }
  }

  .footer-logo-img {
    margin: 30px;
    text-align: center;
  }

  .footer-info {
    margin: 0 20px;
  }

  .secondary-elements {
    margin: 0;
  }

  .footer-link {
    margin: 0;
    padding: 10px;
  }

  .copyright {
    margin: 5px;
  }

  .info-link {
    margin: 0 2px 0 0;
    box-sizing: border-box;
  }
}
