.footer-container {
  background: rgb(35, 30, 41);
  color: white;
  margin: 0 auto;
  padding: 48px 32px;
  height: 232px;
}

.footer {
  width: 100%;
  margin: 0 auto;
  max-width: 1100px;
}

.main-elements {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  width: 272px;
  height: 164px;
}

.footer-logo-img {
  width: 139px;
  height: 24px;
  margin: 81px 0 0 0;
}

.footer__links {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 362px;
}
