.nav-container {
  background: white;
  margin: 0 auto;
  height: 62px;
  font-size: 16px;
  font-weight: 700;
  border-bottom: 1px solid rgb(222, 222, 222);
}

.nav {
  width: 100%;
  max-width: 1100px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.nav-logo-img {
  padding: 0;
  zoom: 0.72;
}

.nav-link {
  font-size: 14px;
  padding: 20px 35px;
  text-align: center;
  text-decoration: none;
  color: $linkColor;
  font-weight: bold;
  box-sizing: border-box;
}

.nav-link:hover {
  color: rgb(74, 97, 148);
  border-bottom: 2px solid rgb(74, 97, 148);
  transition: color 0.6s;
}

@media (max-width: 1200px) {
  .nav {
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;

    &__links {
      padding: 5px;
    }
  }

  .nav-link {
    box-sizing: border-box;
    padding: 0 5px;
  }

  .nav-logo-img {
    padding: 0 15px;
  }
}
